{% extends 'auth/base.html' %} 
{% block content %}
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" method="POST" action="{{ url_for('login') }}">
        <span class="login100-form-title p-b-26"> Welcome </span>

        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="username" required>
          <span class="focus-input100" data-placeholder="Username"></span>
        </div>

        <div class="wrap-input100 validate-input">
          <input class="input100" type="password" name="password" required>
          <span class="focus-input100" data-placeholder="Password"></span>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="submit" class="login100-form-btn">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>

<script src="{{ url_for('static', filename='auth/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='auth/vendor/animsition/js/animsition.min.js') }}"></script>
<script src="{{ url_for('static', filename='auth/vendor/bootstrap/js/popper.js') }}"></script>
<script src="{{ url_for('static', filename='auth/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='auth/vendor/select2/select2.min.js') }}"></script>
<script src="{{ url_for('static', filename='auth/vendor/daterangepicker/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='auth/vendor/daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ url_for('static', filename='auth/vendor/countdowntime/countdowntime.js') }}"></script>
<script src="{{ url_for('static', filename='auth/js/main.js') }}"></script>
{% endblock %}
